{% extends "mainapp/base.html" %}
{% load static %}
{% block content %}
<div class="container">
	<p>aa</p>
</div>
<script type="text/javascript">
	window.onload = function() {
		var isbn_13 = "{{isbn_13}}";
		var isbn_10 = "{{isbn_10}}";
		var title = "{{title}}";
		var authors = "{{authors}}";
		var publisher = "{{publisher}}";
		var categories = "{{categories}}";
		var averageRating = "{{averageRating}}";
		var ratingsCount = "{{ratingsCount}}";
		var thumbnail = "{{thumbnail}}";
		var description = "{{description}}";
		console.log(description);
	}
</script>
{% endblock %}