{% extends "mainapp/base.html" %}
{% load static %}
{% block content %}
<style>
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */

.row.content {
    height: 550px
}


/* Set gray background color and 100% height */

.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}


/* On small screens, set height to 'auto' for the grid */

@media screen and (max-width: 767px) {
    .row.content {
        height: auto;
    }
}

</style>
<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav hidden-xs" style="background-color: #2e323a; height: 100vh;">
            <h2 style="color: white">Logo</h2>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#section1" data-toggle="tab">Dashboard</a></li>
                <li><a href="#section2" data-toggle="tab">Pages</a></li>
                <li><a href="#section3" data-toggle="tab">Charts</a></li>
                <li><a href="#section3" data-toggle="tab">Tables</a></li>
            </ul>
            <br>
        </div>
        <br>
        <div class="tab-content">
            <div class="tab-pane active" id="section1">
                <div class="col-sm-9">
                    <div class="well" id="dashboard_1">
                        <h4>BookWire Analytics Dashboard</h4>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="well" id="dashboard_1">
                                <h4>Total Users</h4>
                                <p>{{user_count}}</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="well" id="dashboard_1">
                                <h4>Today Users</h4>
                                <p>{{today_member_count}}</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="well" id="dashboard_1">
                                <h4>Login Count</h4>
                                <p>{{total_login_count}}</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="well" id="dashboard_1">
                                <h4>Online Members</h4>
                                <p>{{logged_in_user_count}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="well" id="dashboard_1">
                                <h4>Reset Password Requests</h4>
                                <p>{{password_request_count}}</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="well" id="dashboard_1">
                                <h4>Book Count</h4>
                                <p>{{book_count}}</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="well" id="dashboard_1">
                                <h4>Reviews Count</h4>
                                <p>{{reviews_count}}</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="well" id="dashboard_1">
                                <h4>DB Size</h4>
                                <p>{{db_size}} MB</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="well" id="dashboard_1">
                                <h4>GET Requests</h4>
                                <p>{{get_request_count}}</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="well" id="dashboard_1">
                                <h4>POST Requests</h4>
                                <p>{{post_request_count}}</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="well" id="dashboard_1">
                                <h4>PUT Requests</h4>
                                <p>{{put_request_count}}</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="well" id="dashboard_1">
                                <h4>Delete Requests</h4>
                                <p>{{delete_request_count}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="section2">
                <div class="col-sm-9">
                    <div class="well">
                        <table class="table" id="page-table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Page</th>
                                    <th scope="col"># of visits</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="section3">
                <div class="row" style="display: flex; justify-content: center;">
                    <div class="col-sm-6" id="bar_chart_div">
                        <canvas id="bar-chart" width="400" height="225"></canvas>
                    </div>
                    <div class="col-sm-6" id="pie_chart_div">
                        <canvas id="pie-chart" width="400" height="225"></canvas>
                    </div>
                </div>
                <hr>
                <div class="row" style="display: flex; justify-content: center;">
                    <div class="col-sm-6" id="bar_chart_horizontal_div">
                        <canvas id="bar-chart-horizontal" width="400" height="225"></canvas>
                    </div>
                    <div class="row">
                        <div id="regions_div" width="250" height="225"></div>
                    </div>
                </div>
                <!-- <div class="row" style="display: flex;">
                    <div id="regions_div" width="250" height="225"></div>
                </div> -->
            </div>
            <div class="tab-pane" id="section4">Settings Tab.</div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var page_visit_data = String("{{page_visit_counter}}".split("&#39;").join(""));
    page_visit_data = page_visit_data.replace("{","").replace("}","").split(",");
    var total_visit_count = 0;
    var page_name = [];
    var page_bar_colour = [];
    var page_count = [];

    for (var i = 0; i < page_visit_data.length; i++) {
        page_value_data = page_visit_data[i].trim().split(": ");//may need to declare var here but works fine now
        $("#page-table").find('tbody').append("<tr><th scope='row'>"+i+"</th><td>"+page_value_data[0]+"</td><td>"+page_value_data[1]+"</td>");
        total_visit_count+=parseInt(page_value_data[1]);
        page_name.push(page_value_data[0]);
        page_bar_colour.push(getRandomColor());
        page_count.push(parseInt(page_value_data[1]));
    }
    $("#page-table").find('tbody').append("<tr><th scope='row'>"+10+"</th><td>Total</td><td>"+total_visit_count+"</td>");

    var all_metrics = document.querySelectorAll("#dashboard_1");
    for (var i = 0; i < all_metrics.length; i++) {
        var metric_box = all_metrics[i];
        var new_light_color = 'rgb(' + (Math.floor((256-229)*Math.random()) + 230) + ',' + (Math.floor((256-229)*Math.random()) + 230) + ',' + (Math.floor((256-229)*Math.random()) + 230) + ')';
        metric_box.style.backgroundColor = new_light_color;
    }

    function getRandomColor(){
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    //World Map
    var country_list = [['Country', 'Number of Users']]
    var countries = String("{{countries}}".split("&#39;").join(""));
    countries = countries.replace("{","").replace("}","").split(",");

    for (var i = 0; i < countries.length; i++){
        var country = countries[i].trim().split(": ");
        country[1] = parseInt(country[1]);
        country_list.push(country)
    }

    google.charts.load('current', {
        'packages': ['geochart'],
        // Note: you will need to get a mapsApiKey for your project.
        // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
        'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
    });
    google.charts.setOnLoadCallback(drawRegionsMap);

    function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable(country_list)
        var options = {};
        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));
        chart.draw(data, options);
    }

    //Bar Chart
    var browser_list = [];
    var browser_colour = [];
    var browser_count = [];
    var all_browser = String("{{browser}}".split("&#39;").join(""));
    all_browser = all_browser.replace("{","").replace("}","").split(",");

    for (var i = 0; i < all_browser.length; i++){
        var browser = all_browser[i].trim().split(": ");
        browser_list.push(browser[0])
        browser_colour.push(getRandomColor());
        browser_count.push(parseInt(browser[1]));
    }

    new Chart(document.getElementById("bar-chart"), {
        type: 'bar', data: {
            labels: browser_list, datasets: [{label: "Count", backgroundColor: browser_colour, data: browser_count}]
        }
        , options: {
            legend: {
                display: false
            }
            , title: {
                display: true, text: 'Browser Usage by the Users.'
            }
            , scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    }
    );
    var new_light_color = 'rgb(' + (Math.floor((256-229)*Math.random()) + 230) + ',' + (Math.floor((256-229)*Math.random()) + 230) + ',' + (Math.floor((256-229)*Math.random()) + 230) + ')';
    bar_chart_div.style.backgroundColor = new_light_color;

    //Pie Chart
    new Chart(document.getElementById("pie-chart"), {
        type: 'pie', data: {
            labels: page_name, datasets: [{label: "Page Visit", backgroundColor: page_bar_colour, data: page_count}]
        }
        , options: {
            title: {
                display: true, text: 'Number of Page Visit by Users'
            }
        }
    }
    );
    var new_light_color = 'rgb(' + (Math.floor((256-229)*Math.random()) + 230) + ',' + (Math.floor((256-229)*Math.random()) + 230) + ',' + (Math.floor((256-229)*Math.random()) + 230) + ')';
    pie_chart_div.style.backgroundColor = new_light_color;

    //Bar Chart Horizontal
    var domain_list = [];
    var domain_colour = [];
    var domain_count = [];
    var all_domain = String("{{domains}}".split("&#39;").join(""));
    all_domain = all_domain.replace("{","").replace("}","").split(",");

    for (var i = 0; i < all_domain.length; i++){
        var domain = all_domain[i].trim().split(": ");
        domain_list.push(domain[0])
        domain_colour.push(getRandomColor());
        domain_count.push(parseInt(domain[1]));
    }

    new Chart(document.getElementById("bar-chart-horizontal"), {
        type: 'horizontalBar', data: {
            labels: domain_list, datasets: [{label: "Domain Count", backgroundColor: domain_colour, data: domain_count}]
        }
        , options: {
            legend: {
                display: false
            }
            , title: {
                display: true, text: 'Domains User Registered With.'
            }
        }
    }
    );
    var new_light_color = 'rgb(' + (Math.floor((256-229)*Math.random()) + 230) + ',' + (Math.floor((256-229)*Math.random()) + 230) + ',' + (Math.floor((256-229)*Math.random()) + 230) + ')';
    bar_chart_horizontal_div.style.backgroundColor = new_light_color;
</script>
{% endblock %}