{% extends "mainapp/base.html" %}
{% load static %}
{% block content %}
<style type="text/css">
	.div-inline {
      display:inline-block;
    }
</style>
<div class="container">
    <form id="paswordform" class="form-horizontal" role="form" method="post"><!--action="{% url 'mainapp:signup' %}"-->
        {% csrf_token %}
        <h1>Forgotten your Password?</h1><br><br>
        <div class="input-group">
        	<input id="requestemailvalue" placeholder="Enter your E-Mail here" class="form-control width100" required><span class="input-group-btn" required><button class="btn btn-primary" onclick="requestemail();return false;">Request</button></span>
        </div>
    </form>
</div>
<script type="text/javascript">
	function requestemail(){
		var emailvalue = document.getElementById("requestemailvalue").value;
		console.log(emailvalue);
		$.ajax({
			type: "POST",
			data: {
                email: emailvalue,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function(message){
                alert(message);
            	if(!document.getElementById("confirmationidvalue")){
                    $("#paswordform").append('<br><div class="input-group"><input id="confirmationidvalue" placeholder="Enter your confirmation id here here" class="form-control width100" required><span class="input-group-btn" required><button class="btn btn-primary" onclick="checkconfirmationid();return false;">Submit</button></span></div>');
            	}
            }
		})
	}

	var checkconfirmationid =  function(){
		var idvalue = document.getElementById("confirmationidvalue").value;
        $.ajax({
            type: "POST",
            data: {
                idvalue: idvalue,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function(message){
                if(message=="codevalid"){
                    $("#paswordform").append('<br><div class="input-group"><input id="newpassword" placeholder="Enter your new password here" class="form-control width100" required><span class="input-group-btn" required><button class="btn btn-primary" onclick="sendpasword();return false;">Submit</button></span></div>');
                }
                else{
                    alert("You code is invalid, please try again!")
                }
            }
        })
	}
    console.log("AA");
</script>
{% endblock %}