{% extends "mainapp/base.html" %}
{% load static %}
{% block content %}
<div class="container">
	<!-- Nav tabs nav-tabs -->
	<ul class="nav nav-pills">
		<li class="active"><a data-toggle="tab" href="#rated">Rated/Reviewed Books</a></li>
		<li><a data-toggle="tab" href="#recentlyviewed">Recently Viewed</a></li>
		<li><a data-toggle="tab" href="#favourites">Favourites</a></li>
		<li><a data-toggle="tab" href="#readingnow">Reading Now</a></li>
		<li><a data-toggle="tab" href="#toread">To Read</a></li>
		<li><a data-toggle="tab" href="#haveread">Have Read</a></li>
		<li><a data-toggle="tab" href="#booksforme">Books for Me</a></li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div id="rated" class="tab-pane fade in active">
			<h3>Rated</h3>
			<p>Rated or reviewed books should come here</p>
		</div>
		<div id="recentlyviewed" class="tab-pane fade">
			<h3>Recentyle viewewd</h3>
			<p>Recently viewed books here</p>
		</div>
		<div id="favourites" class="tab-pane fade">
			<h3>Favourite Books</h3>
			<table class="table" id="favourites-table">
				<thead>
					<tr>
						<th scope="col">Book Title / Page</th>
						<th scope="col">Categories</th>
						<th scope="col">Average Rating</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody id="favourite-result">
				</tbody>
			</table>
		</div>
		<div id="readingnow" class="tab-pane fade">
			<h3>Reading Now Books</h3>
			<table class="table" id="reading-now-table">
				<thead>
					<tr>
						<th scope="col">Book Title / Page</th>
						<th scope="col">Categories</th>
						<th scope="col">Average Rating</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody id="reading-now-result">
				</tbody>
			</table>
		</div>
		<div id="toread" class="tab-pane fade">
			<h3>To Read Books</h3>
			<table class="table" id="toread-table">
				<thead>
					<tr>
						<th scope="col">Book Title / Page</th>
						<th scope="col">Categories</th>
						<th scope="col">Average Rating</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody id="toread-result">
				</tbody>
			</table>
		</div>
		<div id="haveread" class="tab-pane fade">
			<h3>Have Read</h3>
			<table class="table" id="have-read-table">
				<thead>
					<tr>
						<th scope="col">Book Title / Page</th>
						<th scope="col">Categories</th>
						<th scope="col">Average Rating</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody id="have-read-result">
				</tbody>
			</table>
		</div>
		<div id="booksforme" class="tab-pane fade">
			<h3>Recommendation here</h3>
			<p>ML to recommend here</p>
		</div>
	</div>
</div>
<script type="text/javascript">
	window.onload = function() {
		var favourite_Book = "{{favourite_Book}}";
		var reading_Book = "{{reading_Book}}";
		var to_read_Book = "{{to_read_Book}}";
		var have_read_Book = "{{have_read_Book}}";

		"{% for books in favourite_Book %}"
			var uid = "{{books.isbn_13}}/{{books.isbn_10}}"
			var isbn_13 = "{{books.isbn_13}}";
			var isbn_10 = "{{books.isbn_10}}";

			var book_name = "<a style='cursor: pointer;' onclick='bookPage("+isbn_13+","+isbn_10+")'>" + "{{books.title}}" + "</a>";
			var categories = "{{books.categories}}";
			var average_rating = "{{books.average_rating}}";
			var action = "<button type='button' class='btn btn-danger' onclick='removefromfavourites("+isbn_13+","+isbn_10+")'>Remove From Favourites</button>";

			$("#favourites-table").find('tbody').append("<tr id="+uid+"><td scope='row'>" + book_name + "</td><td>" + categories + "</td><td>" + average_rating + "</td><td>" + action + "</td></tr>");
		"{% endfor %}"

		"{% for books in reading_Book %}"
			var uid = "{{books.isbn_13}}/{{books.isbn_10}}"
			var isbn_13 = "{{books.isbn_13}}";
			var isbn_10 = "{{books.isbn_10}}";

			var book_name = "<a style='cursor: pointer;' onclick='bookPage("+isbn_13+","+isbn_10+")'>" + "{{books.title}}" + "</a>";
			var categories = "{{books.categories}}";
			var average_rating = "{{books.average_rating}}";
			var action = "<button type='button' class='btn btn-danger' onclick='removefromreadingnow("+isbn_13+","+isbn_10+")'>Remove From Reading</button>";

			$("#reading-now-table").find('tbody').append("<tr id="+uid+"><td scope='row'>" + book_name + "</td><td>" + categories + "</td><td>" + average_rating + "</td><td>" + action + "</td></tr>");
		"{% endfor %}"

		"{% for books in to_read_Book %}"
			var uid = "{{books.isbn_13}}/{{books.isbn_10}}"
			var isbn_13 = "{{books.isbn_13}}";
			var isbn_10 = "{{books.isbn_10}}";

			var book_name = "<a style='cursor: pointer;' onclick='bookPage("+isbn_13+","+isbn_10+")'>" + "{{books.title}}" + "</a>";
			var categories = "{{books.categories}}";
			var average_rating = "{{books.average_rating}}";
			var action = "<button type='button' class='btn btn-danger' onclick='removefromtoread("+isbn_13+","+isbn_10+")'>Remove From To Read</button>";

			$("#toread-table").find('tbody').append("<tr id="+uid+"><td scope='row'>" + book_name + "</td><td>" + categories + "</td><td>" + average_rating + "</td><td>" + action + "</td></tr>");
		"{% endfor %}"

		"{% for books in have_read_Book %}"
			var uid = "{{books.isbn_13}}/{{books.isbn_10}}"
			var isbn_13 = "{{books.isbn_13}}";
			var isbn_10 = "{{books.isbn_10}}";

			var book_name = "<a style='cursor: pointer;' onclick='bookPage("+isbn_13+","+isbn_10+")'>" + "{{books.title}}" + "</a>";
			var categories = "{{books.categories}}";
			var average_rating = "{{books.average_rating}}";
			var action = "<button type='button' class='btn btn-danger' onclick='removefromhaveread("+isbn_13+","+isbn_10+")'>Remove From To Have Read</button>";

			$("#have-read-table").find('tbody').append("<tr id="+uid+"><td scope='row'>" + book_name + "</td><td>" + categories + "</td><td>" + average_rating + "</td><td>" + action + "</td></tr>");
		"{% endfor %}"
	}

	function removefromhaveread(isbn_13, isbn_10) {
		isbn_13 = isbn_13.toString()
		isbn_10 = isbn_10.toString()

		var remaining_zero = "0".repeat(13-isbn_13.length)
		isbn_13 = remaining_zero+isbn_13
		remaining_zero = ""
		remaining_zero = "0".repeat(10-isbn_10.length)
		isbn_10 = remaining_zero+isbn_10

		$.ajax({
            type: "PUT",
            data: {
                functionality: 'remove-from-haveread',
                isbn_13: isbn_13,
                isbn_10: isbn_10,
                //csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function(message) {
                if(message=="remove_object_success") {
                	var table = document.getElementById("have-read-table");
                	for (var i = 0, row; row = table.rows[i]; i++) {
                		var table_id = isbn_13+"/"+isbn_10;
                		if (row.id==table_id) {
                			document.getElementById("have-read-table").deleteRow(i);
                		}
                	}
                }
            }
        })

	}

	function removefromtoread(isbn_13, isbn_10) {
		isbn_13 = isbn_13.toString()
		isbn_10 = isbn_10.toString()

		var remaining_zero = "0".repeat(13-isbn_13.length)
		isbn_13 = remaining_zero+isbn_13
		remaining_zero = ""
		remaining_zero = "0".repeat(10-isbn_10.length)
		isbn_10 = remaining_zero+isbn_10

		$.ajax({
            type: "PUT",
            data: {
                functionality: 'remove-from-toread',
                isbn_13: isbn_13,
                isbn_10: isbn_10,
                //csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function(message) {
                if(message=="remove_object_success") {
                	var table = document.getElementById("toread-table");
                	for (var i = 0, row; row = table.rows[i]; i++) {
                		var table_id = isbn_13+"/"+isbn_10;
                		if (row.id==table_id) {
                			document.getElementById("toread-table").deleteRow(i);
                		}
                	}
                }
            }
        })
	}

	function removefromreadingnow(isbn_13, isbn_10) {
		isbn_13 = isbn_13.toString()
		isbn_10 = isbn_10.toString()

		var remaining_zero = "0".repeat(13-isbn_13.length)
		isbn_13 = remaining_zero+isbn_13
		remaining_zero = ""
		remaining_zero = "0".repeat(10-isbn_10.length)
		isbn_10 = remaining_zero+isbn_10

		$.ajax({
            type: "PUT",
            data: {
                functionality: 'remove-from-reading-now',
                isbn_13: isbn_13,
                isbn_10: isbn_10,
                //csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function(message) {
                if(message=="remove_object_success") {
                	var table = document.getElementById("reading-now-table");
                	for (var i = 0, row; row = table.rows[i]; i++) {
                		var table_id = isbn_13+"/"+isbn_10;
                		if (row.id==table_id) {
                			document.getElementById("reading-now-table").deleteRow(i);
                		}
                	}
                }
            }
        })
	}

	function removefromfavourites(isbn_13, isbn_10) {
		isbn_13 = isbn_13.toString()
		isbn_10 = isbn_10.toString()

		var remaining_zero = "0".repeat(13-isbn_13.length)
		isbn_13 = remaining_zero+isbn_13
		remaining_zero = ""
		remaining_zero = "0".repeat(10-isbn_10.length)
		isbn_10 = remaining_zero+isbn_10

		$.ajax({
            type: "PUT",
            data: {
                functionality: 'remove-from-favourites',
                isbn_13: isbn_13,
                isbn_10: isbn_10,
                //csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function(message) {
                if(message=="remove_object_success") {
                	var table = document.getElementById("favourites-table");
                	for (var i = 0, row; row = table.rows[i]; i++) {
                		var table_id = isbn_13+"/"+isbn_10;
                		if (row.id==table_id) {
                			document.getElementById("favourites-table").deleteRow(i);
                		}
                	}
                }
            }
        })
	}

	var bookPage = function(isbn_13, isbn_10) {
		var current_URL = window.location.href;
		current_URL = current_URL.split("/");
		current_URL = current_URL.slice(0, 3);
		current_URL[1]="//";
		current_URL = current_URL.join("");
        window.location = current_URL+"/book_page/"+isbn_13+"/"+isbn_10;
    }
</script>
{% endblock %}