{% extends "mainapp/base.html" %}
{% load static %}
{% block content %}
<div class="container">
	<!-- Nav tabs nav-tabs -->
	<ul class="nav nav-pills">
		<li class="active"><a data-toggle="tab" href="#rated">Rated/Reviewed Books</a></li>
		<li><a data-toggle="tab" href="#recentlyviewed">Recently Viewed</a></li>
		<li><a data-toggle="tab" href="#favourites">Favourites</a></li>
		<li><a data-toggle="tab" href="#readingnow">Reading Now</a></li>
		<li><a data-toggle="tab" href="#toread">To Read</a></li>
		<li><a data-toggle="tab" href="#haveread">Have Read</a></li>
		<li><a data-toggle="tab" href="#booksforme">Books for Me</a></li>
	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div id="rated" class="tab-pane fade in active">
			<h3>Rated</h3>
			<p>Rated or reviewed books should come here</p>
		</div>
		<div id="recentlyviewed" class="tab-pane fade">
			<h3>Recentyle viewewd</h3>
			<p>Recently viewed books here</p>
		</div>
		<div id="favourites" class="tab-pane fade">
			<h3>favourite books</h3>
			<p>favourite books here</p>
		</div>
		<div id="readingnow" class="tab-pane fade">
			<h3>reading books</h3>
			<p>reading books here</p>
		</div>
		<div id="toread" class="tab-pane fade">
			<h3>To read</h3>
			<p>To read books here</p>
		</div>
		<div id="haveread" class="tab-pane fade">
			<h3>Have Read</h3>
			<p>Have read books here</p>
		</div>
		<div id="booksforme" class="tab-pane fade">
			<h3>Recommendation here</h3>
			<p>ML to recommend here</p>
		</div>
	</div>
</div>
{% endblock %}